---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import { IoArrowForward, IoChevronForward } from "react-icons/io5/index.js";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px] ">
      <section class="pt-40 mt-10">
        <h1 class="text-3xl text-center font-mplus mt-12 mb-8 pt-20">
          Maaf kak halaman tidak ditemukan :( 
          <br> ini karena kesalahan kami kontennya belum banyak
        </h1>
        <div class="text-center py-4">
          <a
            class="inline-flex items-center gap-1 underline underline-offset-2"
            href="/"
            >Kembali ke home <IoChevronForward />
          </a>
        </div><a href="/"> </a>
      </section><a href="/"> </a><a href="/"> </a>
    </main><a href="/"> </a><a href="/"> </a>
  </Body>
</html>
