---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="flex flex-row justify-between p-5 sm:static fixed bg-white w-full left-0 bottom-0">
	<h2 class="text-violet font-bold">
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
</header>
