---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class:list={['shadow-amber-900 text-violet-100 hover:bg-violet-900 bg-violet-400 mx-2 px-3 py-1 rounded-lg',className, { 'bg-white text-violet-700': isActive }]} {...props}>
	<slot />
</a>
