<section class="relative  mb-6 h-80 flex justify-center items-center">
    <div class="z-10 text-center  px-8 drop-shadow-lg shadow-black">
      <div class="uppercase text-sm mb-4">Selamat datang di kumpul4semut</div>
      <div class="text-4xl font-mplus font-medium">
        Berbagi Tutorial teknologi, koding dan design <br />
        <span class="text-slate-500 text-lg">sesuai dengan 4 perasaan :)</span>
      </div>
    </div>
  </section>