---
import {FaFacebookF, FaInstagram, FaYoutube, FaWhatsapp} from "react-icons/fa";
---

<section class="relative mb-2 pb-10 pt-20 flex justify-center items-center">
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="text-normal mb-4">Selamat datang di kumpul4semut</div>
    <div class="text-4xl font-mplus font-medium">
      Tutorial, Teknologi, Koding dan Design 🔥<br />
      <span class="text-slate-500 text-sm">Sosial Media:</span>
      <br>
      <center class="mt-5 text-sm text-center flex flex-row justify-center">
       <p class="flex gap-3"><FaYoutube className="" /> <FaFacebookF /> <FaInstagram /> <FaWhatsapp /> </p> 
      </center>
    </div>
  </div>
</section>
